<html>
<head></head>
<body>
    <div id="div-pizza">
        <!-- cut:pizza -->
        #pizza#
        <!-- /cut:pizza -->
    </div>
    <div id="div-body1">
        <!-- cut:body1 -->
        #body1#
        <!-- /cut:body1 -->
    </div>
    <div id="div-body2">
        <!-- cut:body2 -->
        #body2#
        <!-- /cut:body2 -->
    </div>
    <div id="div-a_render">
        <!-- cut:a_render -->
        #a_render#
        <!-- /cut:a_render -->
    </div>
    <div id="div-body3">
        <!-- cut:body3 -->
        #body3#
        <!-- /cut:body3 -->
    </div>
</body>
</html>
